Config(
    /// Set the logging directive to use.
    /// https://docs.rs/env_logger/latest/env_logger/index.html#enabling-logging
    logging_directive: "datastore=trace,debug",

    /// The socket address to bind to.
    /// This is where clients will connect.
    socket_address: "[::1]:2507",
)