Config(
    /// Set the logging directive to use.
    /// https://docs.rs/env_logger/latest/env_logger/index.html#enabling-logging
    logging_directive: "gateway=trace,hyper=info,debug",

    /// Set the interval after which one element of the quota is replenished in
    /// seconds for each ip address.
    rate_limit_interval_per_second: 5,

    /// Set quota size that defines how many requests for a given ip address can
    /// occur before the governor middleware starts blocking requests from
    /// an IP address and clients have to wait until the elements of the
    /// quota are replenished.
    rate_limit_burst_size: 10,

    /// The path to the static assets to serve.
    /// This is where the favicons directory and css file should be located.
    static_assets_path: "target/assets/debug",
)