Config(
    /// Set the logging directive to use.
    /// https://docs.rs/env_logger/latest/env_logger/index.html#enabling-logging
    logging_directives: "backend=trace,hyper=info,tower_http=debug,debug",

    /// Set the interval after which one element of the quota is replenished in
    /// seconds for each ip address.
    rate_limit_interval_per_second: 5,

    /// Set quota size that defines how many requests for a given ip address can
    /// occur before the governor middleware starts blocking requests from
    /// an IP address and clients have to wait until the elements of the
    /// quota are replenished.
    rate_limit_burst_size: 20,

    /// The path to the static assets to serve.
    /// This is where the favicons directory and css file should be located.
    static_assets_path: "target/assets/debug",

    /// The secret key to use for signing cookies.
    ///
    /// Must be 64 bytes long and encoded as hex.
    /// Use `openssl rand -hex 64` to generate a new key.
    cookie_signing_key: "ec6f5bbe16ab65cd1c81b1a02c85a878e86a679115eaf9e4604f1015cabbd78e3ae5c443595ef4e6084ff7d68ac276a03a71ef7bc836576772ee7530dca7a378",

    /// The maximum number of active postgres connections to pool.
    max_postgres_connection_pool_size: 5,

    /// The postgres connection url.
    postgres_connection_url: "postgresql://marzichat@127.0.0.1/marzichat"
)
