Config(
    /// The environment in which the backend is running.
    environment: Local,

    /// The logging directives to use.
    /// Acceptable directive must must follow
    /// [this][1] format.
    ///
    /// [1]: https://docs.rs/env_logger/latest/env_logger/index.html#enabling-logging
    logging_directives: "backend=trace,actix_server=warn,debug",

    /// The sentry DSN
    sentry_data_source_name: None,

    /// The interval in seconds to log machine stats.
    machine_stats_logging_interval_seconds: 1,

    /// The cpu temperature in celsius above which a warning is logged.
    cpu_temp_warn_threshold_celsius: 45,

    /// The memory usage percentage above which a warning is logged.
    memory_usage_warn_threshold_percentage: 0.85,

    /// The cpu load average above which a warning is logged.
    cpu_load_warn_limit: 0.85,

    /// The burst size for rate limiting.
    ///
    /// Sets the quota size that defines how many requests can occur before the
    /// governor middleware starts blocking requests from an IP address and
    /// clients have to wait until the elements of the quota are replenished.
    rate_limiter_burst_size: 10,

    /// The replenish rate for rate limiting.
    ///
    /// Sets the interval after which one element of the quota is replenished in
    /// milliseconds.
    rate_limiter_replenish_rate_milliseconds: 200,

    /// The maximum websocket connections to handle before returning a 503
    /// Service Unavailable
    max_websocket_connections: 10000,

    /// The path to the static assets to serve.
    /// This is where the favicons directory should be located.
    static_assets_path: "target/assets/debug",

    /// The secret key to use for cryptographic hashing.
    ///
    /// Must be 64 bytes long and encoded as hex.
    /// Use `openssl rand -hex 64` to generate a new key.
    hmac_key: "ec6f5bbe16ab65cd1c81b1a02c85a878e86a679115eaf9e4604f1015cabbd78e3ae5c443595ef4e6084ff7d68ac276a03a71ef7bc836576772ee7530dca7a378",

    /// The maximum number of active postgres connections to pool.
    max_postgres_connection_pool_size: 5,

    /// The postgres connection url.
    postgres_connection_url: "postgresql://marzichat@127.0.0.1/marzichat",

    tls_config: None
)
