@use "../common";
@use "../variables/colors";
@use "../variables/sizes";
@use "../variables/durations";
@use "sass:color";

.footer {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 2em;
    font-size: sizes.$ui-font-size;
    max-width: sizes.$max-ui-display-width;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    float: left;
    margin: auto;
    margin-left: 0px;
    flex-wrap: wrap;
}

.footer-right {
    display: flex;
    float: right;
    margin: auto;
    margin-right: 0px;
    flex-wrap: wrap;
}

.footer-link {
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 1em 1.25em;
    cursor: pointer;

    @include common.theme(color, colors.$blue-strong, colors.$blue-weak);
}

.footer-menu {
    position: relative;
    display: inline-block;
}

.footer-menu-content {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0%;
    border-radius: sizes.$ui-border-radius;

    $light: 1px solid color.scale(colors.$dark, $alpha: -80%);
    $dark: 1px solid color.scale(colors.$light, $alpha: -80%);
    @include common.theme(border, $light, $dark);

    $light: color.scale(colors.$light, $lightness: -5%);
    $dark: color.scale(colors.$dark, $lightness: -30%);
    @include common.theme(background-color, $light, $dark);

    $light: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    $dark: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    @include common.theme(box-shadow, $light, $dark);

    .footer-menu:hover & {
        display: block;
    }
}

.footer-menu-item {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em;

    &.first {
        padding-top: 1.6em;
    }

    &.last {
        padding-bottom: 1.6em;
    }
}
