@use "../common";
@use "../variables/colors";
@use "../variables/durations";
@use "../variables/sizes";
@use "sass:color";

.navbar {
    display: inline-flex;
    min-height: sizes.$navbar-height;
    width: 100%;
    overflow: auto; /* To make nav span the floating element inside of it */
    z-index: 10;
    transition: background-color durations.$theme-color-transition, box-shadow durations.$theme-color-transition;

    $light: 0px 0px 3em 0 rgba(0, 0, 0, 0.3);
    $dark: 0px 0px 3em 0 rgba(0, 0, 0, 0.8);
    @include common.theme(box-shadow, $light, $dark);

    $light: color.scale(colors.$light, $lightness: -10%);
    $dark: color.scale(colors.$dark, $lightness: -30%);
    @include common.theme(background-color, $light, $dark);

    @media (min-width: sizes.$mobile-ui-viewport-width) {
        &.sticky {
            position: fixed;
            top: 0;
        }
    }
}

.navbar-center {
    max-width: sizes.$max-ui-display-width;
    margin: auto;
    width: 100%;
}

.navbar-left {
    display: inline-flex;
    align-items: center;
    float: left;
    height: 100%;
    margin-left: 0.5em;
    flex-wrap: wrap;
}

.navbar-right {
    display: inline-flex;
    align-items: center;
    float: right;
    height: 100%;
    margin-right: 0.5em;
    flex-wrap: wrap;
}

@mixin element {
    display: inline-block;
    text-align: center;
    padding: 0.5em 0.2em;
    margin: 0.5em 1em;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 350;
    border: transparent solid 0.1em;
    border-radius: sizes.$ui-border-radius;
    vertical-align: middle;
    transition: color durations.$theme-color-transition, background-color durations.$theme-color-transition,
        border-color durations.$hover-transition, margin 0.2s;
    cursor: pointer;

    @include common.theme(color, colors.$dark, colors.$light);
}

.navbar-link {
    @include element;
    font-weight: 300;

    @media (max-width: sizes.$mobile-ui-viewport-width) {
        & {
            margin: 0.25em;
        }
    }

    &.selected {
        font-weight: 500;
    }
}

.navbar-button {
    @include element;
    background-color: inherit;
    padding: 0.5em 1.2em;
    margin: 0.5em;

    $top: color.scale(colors.$dark, $lightness: -10%);
    $bottom: color.scale(colors.$dark, $lightness: -40%);
    $dark: linear-gradient($top, $bottom);

    $top: color.scale(colors.$light, $lightness: -5%);
    $bottom: color.scale(colors.$light, $lightness: -20%);
    $light: linear-gradient($top, $bottom);

    @include common.theme(background, $light, $dark);

    @media (max-width: sizes.$mobile-ui-viewport-width) {
        & {
            padding: 0.5em 0.8em;
            margin: 0.25em;
        }
    }

    $light: color.scale(colors.$dark, $lightness: 40%);
    $dark: color.scale(colors.$light, $lightness: -70%);
    @include common.theme(border-color, $light, $dark);

    $light: color.scale(colors.$dark, $lightness: 50%);
    $dark: color.scale(colors.$light, $lightness: -60%);

    &:disabled {
        cursor: not-allowed;
        background: unset;

        // safari disabled input elements display with text that is too light
        // https://stackoverflow.com/questions/262158/disabled-input-text-color
        opacity: 1; /* required on iOS */
    }

    @include common.theme(color, $light, $dark, ":disabled");
    @include common.theme(border-color, $light, $dark, ":disabled");
    @include common.theme(-webkit-text-fill-color, $light, $dark, ":disabled");
    @include common.theme(border-color, colors.$pink-weak, colors.$pink-weak, ":hover:not([disabled])");
    @include common.theme(border-color, colors.$pink-strong, colors.$pink-strong, ":active:not([disabled])");
}
