@use "../common";
@use "../variables/colors";
@use "../variables/durations";
@use "../variables/sizes";
@use "sass:color";

.sidebar {
    height: inherit;
    display: flex;
    flex-direction: column;
    transition: background-color durations.$theme-color-transition;

    @include common.theme(
        background-color,
        color.scale(colors.$light, $blackness: 20%),
        color.scale(colors.$dark, $blackness: 40%)
    );
}

.sidebar-top {
    margin-bottom: auto;
}

.sidebar-bottom {
    margin-top: auto;
}

.sidebar-container {
    transition: color durations.$hover-transition;
    transition: background-color durations.$hover-transition;
    display: flex;
    font-size: sizes.$ui-font-size;
    height: sizes.$ui-element-height;
    padding: sizes.$ui-element-padding;
    cursor: pointer;

    @include common.theme(color, colors.$dark, colors.$light);

    &:hover {
        color: black;
    }

    @include common.theme(
        background-color,
        color.scale(colors.$pink-weak, $alpha: -50%),
        color.scale(colors.$pink-strong, $alpha: -50%),
        ":hover"
    );

    &-selected,
    &-selected:hover {
        background-color: colors.$pink-strong;
        color: colors.$light;
        cursor: auto;
    }

    &.sidebar-close-icon {
        display: none;
    }

    @media (max-width: sizes.$mobile-ui-viewport-width) {
        &.sidebar-close-icon {
            display: inline-flex;
            margin-left: auto;
        }
    }
}

@mixin item {
    display: inline-flex;
    align-items: center;
}

.sidebar-item {
    &-left {
        @include item;
    }

    &-right {
        @include item;
        margin-left: auto;
        transition: color durations.$hover-transition;
    }

    &-right:hover {
        color: colors.$pink-strong;
    }

    .sidebar-container-selected:hover &-right:hover {
        color: inherit;
    }

    &-right.sidebar-item-right-disabled {
        color: color.scale(colors.$dark, $lightness: 50%);
        pointer-events: none;
    }
}
