@use "../common";
@use "../variables/colors";
@use "../variables/sizes";
@use "../variables/durations";
@use "sass:color";

@mixin element {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 80%;
    margin: 5em auto;
    transition: color durations.$theme-color-transition;

    @include common.theme(color, black, colors.$light);

    @media (min-width: sizes.$mobile-ui-viewport-width) {
        &.narrow {
            width: 60%;
        }
    }
}

.text {
    @include element;

    @media (max-width: sizes.$mobile-ui-viewport-width) {
        & {
            margin: 3em auto;
        }
    }
}

.text-image {
    @include element;
    margin: 2em auto;
    width: 80%;

    @media (max-width: sizes.$mobile-ui-viewport-width) {
        & {
            width: unset;
        }
    }

    & img {
        width: 100%;
        height: auto;
        border-radius: 1.5em;
        pointer-events: none;
        @include common.is-not-selectable;

        @media (max-width: sizes.$mobile-ui-viewport-width) {
            & {
                border-radius: 0px;
            }
        }
    }
}

.text-subtitle {
    margin: 0.25rem;
    font-size: sizes.$ui-font-size;
    font-weight: 350;

    &.monospaced {
        font-family: "JetBrains";
    }
}

.text-title {
    margin: 0.25rem;
    font-size: 3rem;
    font-weight: 450;

    @media (max-width: sizes.$mobile-ui-viewport-width) {
        & {
            font-size: 2.5rem;
        }
    }
}

.text-body {
    margin: 0.25rem;
    line-height: 1.4;
    font-size: 1.4em;
    font-weight: 400;
    transition: color durations.$theme-color-transition;

    @include common.theme(color, colors.$dark, color.scale(colors.$light, $blackness: 20%));
}

.text-link {
    @extend .text-body;
    margin: auto;
    margin-top: 0.5em;
    margin-left: 0px;
    text-decoration: none;
    padding: 0.25rem;
}
